{% extends 'base_template.html' %}
{% block content %}
  {% if user %}
    <p>Привет, @{{ user.username }}</p>
  {% endif %}
  <h2>Список каналов</h2>
  <ul class="list-group">
  {% for chain in chains %}
    <li class="list-group-item justify-content-between">
      Пересылка из {{ chain.from_title }} в {{ chain.to_title }}.
      <a href="{{ url_for('delete', chain=chain.id) }}" style="color: indianred">
        <span class="badge badge-default badge-pill">Удалить</span>
      </a>
    </li>
  {% else %}
    <li class="alert alert-info">Нет каналов</li>
  {% endfor %}
  </ul>
  <div class="btn-group" style="margin-top: 20px;">
    <a href="/add_channels" class="btn btn-primary">Добавить каналы</a>
    <a href="/start_work" class="btn btn-success">Начать обработку</a>
  </div>
{% endblock %}