{% extends 'base_template.html' %}
{% block content %}
  <h1>Hello World!</h1>
  Channels:
  <ul>
  {% for chain in chains %}
    <li>Пересылка из <strong style="color: olivedrab">{{ chain.from_title }}</strong> в <strong style="color: olivedrab">{{ chain.to_title }}</strong>.</li>
    <a href="{{ url_for('delete', chain=chain.id) }}" style="color: indianred"> Удалить </a>
  {% else %}
    <li>Нет каналов</li>
  {% endfor %}
  </ul>
  <a href="/add_channels">Добавить каналы</a>
  <a href="/start_work">Начать обработку</a>
{% endblock %}